<%= form_with(model: comment, local: true) do |form| %>
  <div class="comment-form">
    <%= form.text_area :comment, size: "90x6" %>
  </div>
  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>
